body {
    margin: 0px;
}

h4 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 25px;
    font-size: 32px !important;
}

ul {
    width: 100%;
}

li {
    list-style-type: none;
    text-align: center !important;
}

.alert {
    margin: 50px;
    font-family: 'Open Sans';
}

form {
    /* background-color: #dbd5d5; */
    /* width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px; */
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #008391;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Open Sans';
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #0d3636;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    /* border-bottom:1px solid #444;  */
    cursor: pointer;
}
