body {
    margin: 0px;
    align-content: center;
    text-align: center;
}

h4 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 28px !important;
}

ul {
    width: 100%;
}

li {
    list-style-type: none;
    text-align: center !important;
}

.alert {
    margin: 50px;
    font-family: 'Open Sans';
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #008391;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Open Sans';
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #0d3636;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    cursor: pointer;
}

.sortableHelper {
    z-index: 9999 !important;
    font: inherit !important;
    font-family: 'Open Sans' !important;
    font-size: 18px !important;
    font-weight: 400 !important;
 }