.nav-title {
    font-size: 22px;
    /* font-weight: 700; */
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
    font-family: 'Open Sans'
}

.nav {
  overflow: hidden;
  background-color: #008391;
}

.nav-link {
  font-family: 'Open Sans';
  float: left;
  color: #f2f2f2;
  background-color: #008391;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #4fb3c1;
  /* color: #4fb3c1; */
}

.nav-right {
  float: right;
}